In [17]:
#1st
print ("Talha")
print ('I am a student')

Talha
I am a student

In [3]:
#Swaping
a, b = 10, 20
a, b = b, a
print(a,b)

20 10

In [5]:
#condition
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [6]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [13]:
#Creating Variables
x = 23
y = "Talha"
print("Age:",x)
print("Name:",y)

Age: 23
Name: Talha

In [15]:
#Casting
x = str(1)
y= int(1)
z= float(1)

In [16]:
#Get the Type
x = 5
y = "Talha"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>