<a href="https://colab.research.google.com/github/talhamahmud82/ML/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.
andas allows us to analyze big data and make conclusions based on statistical theories
'''

In [2]:
#Import Pandas
import pandas

mydataset = {'Subject': ["ML", "AI", "CN"], 'Mark': [13, 9, 8]}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  Subject  Mark
0      ML    13
1      AI     9
2      CN     8

In [9]:
import pandas

mydataset = {'Name': ["Talha", "Siam", "Asif", "Alif", "Mehedi"], 'Age': [22, 22, 22, 21, 21]}

myvar = pandas.DataFrame (mydataset)

print(myvar)

     Name  Age
0   Talha   22
1    Siam   22
2    Asif   22
3    Alif   21
4  Mehedi   21

In [11]:
'''
Pandas as pd
Pandas is usually imported under the pd alias.
'''
import pandas as pd

mydataset = {'Subject': ["ML", "AI", "CN"], 'Mark': [13, 9, 8]}

myvar = pd.DataFrame(mydataset)

print(myvar)

  Subject  Mark
0      ML    13
1      AI     9
2      CN     8

In [12]:
'''
Pandas Series...

What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.
'''

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [14]:
#Create Labels
import pandas as pd

x = [1, 7, 2]

myvar = pd.Series(x, index = ["a", "b", "c"])

print(myvar)

a    1
b    7
c    2
dtype: int64

In [17]:
#Key/Value Objects as Series

import pandas as pd

calories = {"day-1 :": 420, "day-2 :": 380, "day-3 :": 390}

myvar = pd.Series(calories)

print(myvar)

day-1 :    420
day-2 :    380
day-3 :    390
dtype: int64